*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

h3{
    text-align: center;
}

.row {
    width: 100%;
    margin: auto;
   
}

.pre{
    border: 1px solid black;
    background-color: grey;
    width: 90%;
    height: 500px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 10px;
    
    
}



.chi{
    height: 5%;
    text-align: center; 
}
.bee{
    height: 5%;
    text-align: center;  
}
.suu{
    height: 5%;
    text-align: center;   
}

p {
    clear: right;
    margin-top: 30px;
}






 @media (min-width: 992px) {

    .navbar-nav{
        display: none;
    }
   

  .col-lg-1 {
      width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-4 {
    width: 30%;
}
.col-lg-5 {
    width: 41.66%;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-7 {
    width: 58.33%;
}
.col-lg-8 {
    width: 66.66%;
}
.col-lg-9 {
    width: 74.99%;
}
.col-lg-10 {
    width: 83.33%;
}
.col-lg-11 {
    width: 91.66%;
}
.col-lg-12 {
    width: 100%;
}
.pre{
    margin-bottom: 20px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,
    .col-md-5,.col-md-6,.col-md-7,.col-md-8,
    .col-md-9,.col-md-10,.col-md-12,.col-md-12, {
        float: left;
        }

        .navbar-nav{
            display: none;
        }
        .navbar-toggle,.collapsed{
            display: none;
        }
        .pre{
            margin-bottom: 20px;
        }

        .suu{
            width: 17%;
            height: 5%;
        }
    
  .col-md-1 {
    width: 8.33%;
}
.col-md-2 {
  width: 16.66%;
}
.col-md-3 {
  width: 25%;
}
.col-md-4 {
  width: 33.33%;
}
.col-md-5 {
  width: 41.66%;
}
.col-md-6 {
  width: 47%;
}
.col-md-7 {
  width: 58.33%;
}
.col-md-8 {
  width: 66.66%;
}
.col-md-9 {
  width: 74.99%;
}
.col-md-10 {
  width: 83.33%;
}
.col-md-11 {
  width: 91.66%;
}
.col-md-12 {
  width: 96%;
}

}
    

 @media (max-width: 767px) {
   .pre{
       margin: 10px;
   }
   
} 
   
.navbar-brand {
    font-size: 30px;
    color: black;
}

.navbar-nav{
    text-align: center;
}
     